.monitor-content {
  padding: 16px; /* Espaciado interno */
  background-color: #f5f5f5; /* Fondo claro */
}

ion-card {
  margin: 16px 0; /* Espacio entre tarjetas */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

#map {
  height: 400px; /* Altura del mapa */
  width: 100%; /* Ancho completo */
  border-radius: 10px; /* Bordes redondeados para el mapa */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  margin-top: 16px; /* Espacio superior para el mapa */
}